extends ./templates/template.pug

block content
  div.text-center.py-20
    h2 Listings
  .container
    +article([
      {
        thumb: 'assets/photo-1429043794791-eb8f26f44081.jpeg',
        date: '27<br>Mar',
        date_val: '2018-03-27',
        title: 'City Lights in New York',
        title_sub: 'The city that never sleeps.',
        desc: 'New York, the largest city in the U.S, is an architectural marvel with plenty of historic monments, magnificent buildings and countless dazzling skyscrapers.',
        timestamp: '6 min ago',
        comments: '39 comments'
      },
      {
        thumb: 'assets/photo-1429043794791-eb8f26f44081.jpeg',
        date: '27<br>Mar',
        date_val: '2018-03-27',
        title: 'City Lights in New York',
        title_sub: 'The city that never sleeps.',
        desc: 'New York, the largest city in the U.S, is an architectural marvel with plenty of historic monments, magnificent buildings and countless dazzling skyscrapers.',
        timestamp: '6 min ago',
        comments: '39 comments'
      },
      {
        thumb: 'assets/photo-1429043794791-eb8f26f44081.jpeg',
        date: '27<br>Mar',
        date_val: '2018-03-27',
        title: 'City Lights in New York',
        title_sub: 'The city that never sleeps.',
        desc: 'New York, the largest city in the U.S, is an architectural marvel with plenty of historic monments, magnificent buildings and countless dazzling skyscrapers.',
        timestamp: '6 min ago',
        comments: '39 comments'
      },
      {
        thumb: 'assets/photo-1429043794791-eb8f26f44081.jpeg',
        date: '27<br>Mar',
        date_val: '2018-03-27',
        title: 'City Lights in New York',
        title_sub: 'The city that never sleeps.',
        desc: 'New York, the largest city in the U.S, is an architectural marvel with plenty of historic monments, magnificent buildings and countless dazzling skyscrapers.',
        timestamp: '6 min ago',
        comments: '39 comments'
      },
      {
        thumb: 'assets/photo-1429043794791-eb8f26f44081.jpeg',
        date: '27<br>Mar',
        date_val: '2018-03-27',
        title: 'City Lights in New York',
        title_sub: 'The city that never sleeps.',
        desc: 'New York, the largest city in the U.S, is an architectural marvel with plenty of historic monments, magnificent buildings and countless dazzling skyscrapers.',
        timestamp: '6 min ago',
        comments: '39 comments'
      }
    ])